<div style="display: flex; flex-direction: row; justify-content: space-around; position: fixed; left: 0; right: 0; top: 0; z-index: 1000; height: 2rem; 
    {% if page.transparent_header %}
    background: transparent;
    {% else %}
    background: rgb(0,0,0);
    {% endif %}">
    <a class="headerLink" href="/about.html">about</a>
    <a class="headerLink" href="/projects.html">projects</a>
    <a class="headerLink" href="/stuff.html">stuff</a>
    <a class="headerLink" href="/index.html">home</a>
</div>