<div
    style="display: flex; flex-direction: row; justify-content: space-around; position: fixed; left: 0; right: 0; top: 0; z-index: 1000; height: 2rem; background: rgba(0,0,0,0.8);">
    <a class="headerLink" href="{{ " /about.html" | relative_url }}">about</a>
    <a class="headerLink" href="{{ " /words.html" | relative_url }}">words</a>
    <a class="headerLink" href="{{ " /projects.html" | relative_url }}">projects</a>
    <a class="headerLink" href="{{ " /index.html" | relative_url }}">home</a>
</div>